body {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 250px;
}

form input {
    padding: 10px;
    margin: 3px;
    border-radius: 3px;
    outline: none;
    border: 1px solid black;
}

#form-btn, #btn-action {
    background-color: #0468aa;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}

#div-table {
    width: 500px;
    margin-left: 20px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #0468aa;
    color: white;
}

table td {
    padding: 12px 0;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}